// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.bg-dark{
  .container-fluid{
    padding: 0 3rem !important;
  }
  background-color: $cyan!important;
  border-bottom: 8px #fff solid;
  min-height: 150px;
  a{
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    span {display: none;}
  }
}

.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content {
  padding: 0;
}

.node--type-slider .slick img, .node--type-slider .slick iframe {
  width: 100%;
}
footer{
  padding: 0 !important;
  background: $gray-100;
  text-align: center;
  p{
    color: $blue;
    font-size: 0.8rem;
    margin: 1rem 0;
    font-size: 1rem;
    a {
      color: $blue;
      text-decoration: none;
    }
  }
}
.block-system-main-block, footer .container-fluid {
  padding: 0 3rem !important;
}

.view-id-vehiculos{
  .block-column{
    display: flex;
    align-items: stretch;
    .grid__content{
      padding: 20px;
    }
  }
}

.node--view-mode-teaser {
  box-shadow: 5px 5px 11px -4px rgba(28,28,28,0.59);
  -webkit-box-shadow: 5px 5px 11px -4px rgba(28,28,28,0.59);
  -moz-box-shadow: 5px 5px 11px -4px rgba(28,28,28,0.59);
  display: flex;
  flex-direction: column;
  padding: 10px;
  h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  a{
    text-decoration: none;
  }
  .field--name-field-vehicle-fuel {
    display: inline-block;
  }
  .field--name-field-vehicle-engine-size {
    display: inline-block;
    .field__item{
      display: inline-block;
      padding-right: 0;
      margin-right: -3px;
    }
    &::after{
      content: ', ';
      display: inline;
    }
  }
  .node-readmore {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    visibility: hidden;
    display: block;
    a::after {
      visibility: visible;
      font-family: 'bootstrap-icons';
      content: "\F4FE";
      color: $cyan;
    }
  }
}

h1{
  text-align: left!important;
}

.block-webform-block {
  margin-top: 150px;
  margin-right: 3rem;
}

.se-links-container {
  height: 28px!important;
}

.se-block {
  margin: 20px 0;
}

.slick-arrow::before, .slick-arrow::after {
  color: #fff;
}
.form-item-sort-by .form-select {
  border: 0;
  background: transparent;
  padding: 0;
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      margin-right: 8px;
      border: 1px solid #ccc;
      line-height: 1.5;
      border: 1px solid #ced4da;
      background-color: #fff;
      border-radius: 0.375rem;
      a {
        text-decoration: none;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        display: block;
      }
    }
  }
  .bef-link--selected {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
  }
}

.menu--social-media .navbar-nav{
  display: flex;
  flex-direction: row;
}

.button--primary {
 color: #fff;
}

.contact-blocks {
  padding: 0 5rem !important;
  h2 {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
  }
  background: $blue;
  .block-webform-block{
    margin-top: 0;
    color: $white;
    .form-control{
      border-radius: 0;
    }
    .form-actions {
      text-align: right;
      .btn {
        border-radius: 0;
      }
    }
  }
  .block-block-content{
    ul{
      margin: 38px 0 0 0;
      padding: 0;
      list-style: none;
      li {
        margin: 10px;
      }
    }
    color: $white;
    a {
      text-decoration: none;
      color: $white;
    }
    img {
      width: 30px;
      height: auto;
      margin: 0 10px 0 0;
    }
    iframe {
      margin: 10px 10px 10px 50px;
    }
  }
}
.region-contact{
  display: flex;
}
